body {
  font-family: sans-serif;
  background-color: rgb(188, 243, 243);
  font-size: 25px;
  text-align: center;
}
.main {
  background-color: rgb(255, 255, 255);
  padding: 20px 20px;
  margin: 100px 80px;
}

.operators {
  display: flex;
  justify-content: center;
  margin: 30px 20px;
}

.button {
  font-size: 75%;
  width: 60px;
  height: 40px;
  color: rgb(0, 255, 255);
  background-color: white;
  margin: 0px 0px 0px 0px;
  border: 1px solid rgb(0, 255, 255);
}
.button:hover {
  background-color: rgb(0, 255, 255);
  color: white;
  cursor: pointer;
}
.num {
  font-size: 25px;
  color: rgb(53, 53, 53);
  margin: 15px 15px;
  padding: 5px 5px;
  text-align: center;
  border: 2px solid rgb(0, 255, 255);
}
